.container {
  margin-top: 100px;
  margin-left: 300px;
}

.input {
  width: 400px;
  height: 40px;
  padding: 0 10px;
}

.listContainer {
  margin-top: 5px;
  width: 400px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listItem {
  width: 100%;
  list-style-type: none;
}

.listItem:hover {
  background-color: rgb(238, 237, 237);
}
